<html>
    <head>
        <title>Aulas Asp Net MAC</title>
    </head>
    <body>
        <ul>
            <li><a href="/Home/Index">Home</a></li>
            <li><a href="/Home/Contato">Contato</a></li>
            <li><a href="/Home/Sobre">Sobre</a></li>
        </ul>
        <div>
            @RenderBody()
        </div>
    </body>
</html>

