@model List<primeiroapp.models.Produto>


<h1>Produto</h1>
<p>Total de Produto : @Model.Count()</p>

<table class="table table-hover">
    <thead>

        <th>ID</th>
        <th>Descricao</th>
        <th>Data do Cadastro</th>
        
    </thead>
    <tbody>
        @foreach (var produto in Model)
        {
            <tr>
                <td>@produto.ProdutoID</td>
                <td>@produto.Descricao</td>
                <td>@produto.DataCadastro</td>
                <td><</td>
            </tr>
            
        }
    </tbody>

</table>