@model primeiroapp.models.Produto


<form method="POST">
  <div class="form-group">
    <label >Descricao</label>
    <input type="text" name="Descricao" class="form-control" placeholder="descricao.." />
  </div>
 
  <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>

